<div class="durationtab">
    <div class="d-item" [ngClass]="{'d-item-active':activeDuration=='daily'}" (click)="activeDuration='daily'">
        Daily
    </div>
    <div class="d-item" [ngClass]="{'d-item-active':activeDuration=='weekly'}" (click)="activeDuration='weekly'">
        Weekly
    </div>
    <div class="d-item" [ngClass]="{'d-item-active':activeDuration=='monthly'}" (click)="activeDuration='monthly'">
        Monthly
    </div>
    <div class="d-item" [ngClass]="{'d-item-active':activeDuration=='quaterly'}" (click)="activeDuration='quaterly'">
        Quaterly
    </div>
    <div class="d-item" [ngClass]="{'d-item-active':activeDuration=='yearly'}" (click)="activeDuration='yearly'">
        Yearly
    </div>

</div>





<div class="row" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card bg-success">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="row text-white">
                        <div class="col-6">
                            <h1><i class="fa fa-eye background-round text-white p-2 font-medium-3"></i></h1>
                            <h4 class="pt-1 m-0 text-white">45% <i class="fa fa-long-arrow-up"></i></h4>
                        </div>
                        <div class="col-6 text-right pl-0">
                            <h4 class="text-white mb-2">Visitors</h4>
                            <span>90%</span>
                            <br>
                            <span>Grate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="row text-white">
                        <div class="col-6">
                            <h1><i class="fa fa-user background-round text-white p-2 font-medium-3"></i></h1>
                            <h4 class="pt-1 m-0 text-white">10% <i class="fa fa-long-arrow-down"></i></h4>
                        </div>
                        <div class="col-6 text-right pl-0">
                            <h4 class="text-white mb-2">New Users</h4>
                            <span>39%</span>
                            <br>
                            <span>Average</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card bg-info">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="row text-white">
                        <div class="col-6">
                            <h1><i class="fa fa-users background-round text-white p-2 font-medium-3"></i></h1>
                            <h4 class="pt-1 m-0 text-white">20% <i class="fa fa-long-arrow-up"></i></h4>
                        </div>
                        <div class="col-6 text-right pl-0">
                            <h4 class="text-white mb-2">Total Users</h4>
                            <span>60%</span>
                            <br>
                            <span>Good</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="row text-white">
                        <div class="col-6">
                            <h1><i class="fa fa-child background-round text-white p-2 font-medium-3"></i></h1>
                            <h4 class="pt-1 m-0 text-white">82% <i class="fa fa-long-arrow-up"></i></h4>
                        </div>
                        <div class="col-6 text-right pl-0">
                            <h4 class="text-white">Total Active Users</h4>
                            <span>980</span>
                            <br>
                            <span>Grate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" style="display: grid;grid-template-columns: 50% 50%;column-gap: 12px;">

    <div id="recent-sales">
        <div class="card" style="height: 540px;">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title font">Schedule/Upcoming Activity</h4>
                </div>
                <a class="heading-elements-toggle">
                    <i class="la la-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="card-block">

                    <div class="table-responsive">
                        <table class="table table-hover table-xl mb-0" id="recent-orders">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Date</th>
                                    <th class="border-top-0">Events</th>
                                    <th class="border-top-0">Author</th>
                                    <!-- <th class="border-top-0">Popularity</th>
                  <th class="border-top-0">Amount</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-truncate">17/02/2022</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled users-list m-0">
                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-1.jpg" alt="Avatar">
                                            </li>
                                            XYZ
                                        </ul>
                                    </td>

                                    <td class="text-truncate">Author</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">16/02/2022</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled users-list m-0">

                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-6.jpg" alt="Avatar">
                                            </li>
                                            PQR
                                        </ul>
                                    </td>

                                    <td class="text-truncate">Author1</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">18/02/2022</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled users-list m-0">

                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-5.jpg" alt="Avatar">
                                            </li>EFG
                                        </ul>
                                    </td>

                                    <td class="text-truncate">Author2</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">18/02/2022</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled users-list m-0">
                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-6.jpg" alt="Avatar">
                                            </li>
                                            PQR
                                        </ul>
                                    </td>

                                    <td class="text-truncate">Author3</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate">28/02/2022</td>
                                    <td class="text-truncate">
                                        <ul class="list-unstyled users-list m-0">
                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                            </li>
                                            ABC
                                        </ul>
                                    </td>

                                    <td class="text-truncate">Author7</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <button class="btn btn-primary mx-3" (click)="GetDetailstable(content1, 'Schedule/Upcoming Activity')">
                        <i class="fa fa-arrows-alt  text-white  font-medium-3"></i>
                    </button>

                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="card" style="height: 540px;">
            <div class="card-header">
                <div class="card-title-wrap bar-danger">
                    <h4 class="card-title font">Top Active Users</h4>
                    <!-- <span style="margin-left: 40em;"><input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
                  /></span> -->
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="table-responsive">
                        <table id="recent-orders" class="table table-hover table-xl mb-0">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Name</th>
                                    <th class="border-top-0">City/Region</th>
                                    <th class="border-top-0">Loyalty Points</th>
                                    <th class="border-top-0">Last Activity</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 57px !important;">

                                    <td class="text-truncate">
                                        <span class="avatar avatar-xs" style="cursor: pointer;">
                                            <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-4.jpg"
                                                alt="avatar">
                                        </span>
                                        <span>Elizabeth W.</span>
                                    </td>
                                    <td>Europe</td>
                                    <td>
                                        9
                                    </td>
                                    <td>
                                        26/02/2022
                                    </td>

                                </tr>
                                <tr style="height: 59px !important;">

                                    <td class="text-truncate">
                                        <span class="avatar avatar-xs" style="cursor: pointer;">
                                            <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-5.jpg"
                                                alt="avatar">
                                        </span>
                                        <span>Doris R.</span>
                                    </td>
                                    <td>Europe</td>
                                    <td>
                                        8
                                    </td>
                                    <td>
                                        26/02/2022
                                    </td>

                                </tr>
                                <tr style="height: 56px !important;">

                                    <td class="text-truncate">
                                        <span class="avatar avatar-xs" style="cursor: pointer;">
                                            <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-6.jpg"
                                                alt="avatar">
                                        </span>
                                        <span>Megan S.</span>
                                    </td>
                                    <td>Asia</td>
                                    <td>
                                        7.5
                                    </td>
                                    <td>
                                        25/02/2022
                                    </td>

                                </tr>
                                <tr style="height: 58px !important;">

                                    <td class="text-truncate">
                                        <span class="avatar avatar-xs" style="cursor: pointer;">
                                            <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-7.jpg"
                                                alt="avatar">
                                        </span>
                                        <span>Andrew D.</span>
                                    </td>
                                    <td>Europe</td>
                                    <td>
                                        7.1
                                    </td>
                                    <td>
                                        11/01/2022
                                    </td>

                                </tr>
                                <tr style="height: 59px !important;">

                                    <td class="text-truncate">
                                        <span class="avatar avatar-xs" style="cursor: pointer;">
                                            <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-9.jpg"
                                                alt="avatar">
                                        </span>
                                        <span>Walter R.</span>
                                    </td>
                                    <td>Asia</td>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        05/02/2022
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <button class="btn btn-primary mx-3" (click)="GetDetailstable2(content2, 'Top Active Users')">
                        <i class="fa fa-arrows-alt  text-white  font-medium-3"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>





<!--Statistics cards Ends-->
<!--Line with Area Chart 1 Starts-->

<!--Line with Area Chart 1 Ends-->
<div class="row" matchHeight="card" style="display: grid;grid-template-columns: 50% 50%;column-gap: 12px;">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title mb-0">Cohora FAQ</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Activating an Account and Logging in')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> Activating an Account and Logging in</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'User Profile')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> User Profile</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Using the Dashboard')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> Using the Dashboard</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Subscribing to Email Alerts')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> Subscribing to Email Alerts</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Changing a Password')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> Changing a Password</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Inviting and Managing Users')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> Inviting and Managing Users</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Creating and Managing Groups')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> Creating and Managing Groups</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Granting Roles')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> Granting Roles</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'Quick Guide: Organizing Security Groups')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> Quick Guide: Organizing Security Groups</span>
                        </li>
                        <li class="list-group-item cursor-pointer" (click)="GetDetails(content, 'What to Do if a User is Unable to Login')">
                            <i class="fa fa-check-square-o mr-1"></i>
                            <span> What to Do if a User is Unable to Login</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <a class="card-link info">See all articles (50)</a>
            </div>
        </div>
    </div>
    <div id="recent-sales">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title font">Contest-Quiz-Survey-Chatroom</h4>
                </div>
                <a class="heading-elements-toggle">
                    <i class="la la-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div class="card-content mt-1">
                <div class="table-responsive">
                    <table class="table table-hover table-xl mb-0 font" id="recent-orders">
                        <thead>
                            <tr>
                                <th class="border-top-0">Event Name</th>
                                <th class="border-top-0">Participants</th>
                                <th class="border-top-0">Status</th>
                                <!-- <th class="border-top-0">Popularity</th>
                  <th class="border-top-0">Amount</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-truncate">ABC</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-4.jpg"
                                            alt="avatar">
                                    </span>Jim
                                </td>
                                <td>
                                    Pass
                                </td>

                            </tr>
                            <tr>
                                <td class="text-truncate">EFG</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-5.jpg"
                                            alt="avatar">
                                    </span>Jack
                                </td>
                                <td>
                                    Fail
                                </td>

                            </tr>
                            <tr>
                                <td class="text-truncate">PQR</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-6.jpg"
                                            alt="avatar">
                                    </span> Dolly
                                </td>
                                <td>
                                    Pass
                                </td>

                            </tr>
                            <tr>
                                <td class="text-truncate">XYZ</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-7.jpg"
                                            alt="avatar">
                                    </span> Sam
                                </td>
                                <td>
                                    Pass
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card gradient-orange-amber">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="align-center">
                            <i class="fa fa-superpowers text-white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-white text-right">
                            <h3 class="text-white font-weight-bold">Cohora IQ</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card gradient-light-blue-cyan">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="align-center">
                            <i class="fa fa-users text-white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-white text-right">
                            <h3 class="text-white font-weight-bold">Community</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card gradient-red-pink">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="align-center">
                            <i class="fa fa-bullhorn text-white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-white text-right">
                            <h3 class="text-white font-weight-bold">Campaign</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card gradient-mint">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="align-center">
                            <i class="fa fa-user-circle-o text-white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-white text-right">
                            <h3 class="text-white font-weight-bold">Customer</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card gradient-indigo-blue">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="align-center">
                            <i class="fa fa-shopping-bag text-white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-white text-right">
                            <h3 class="text-white font-weight-bold">Shop Buzz</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card gradient-brown-brown">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="align-center">
                            <i class="fa fa-gift text-white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-white text-right">
                            <h3 class="text-white font-weight-bold">Loyalty</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card gradient-purple-deep-orange">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="align-center">
                            <i class="fa fa-cog text-white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-white text-right">
                            <h3 class="text-white font-weight-bold">Settings</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card gradient-timber">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="align-center">
                            <i class="fa fa-check-square-o text-white font-large-2 float-left"></i>
                        </div>
                        <div class="media-body text-white text-right">
                            <h3 class="text-white font-weight-bold">Schedules</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="kbModal-body">
        <p class="text-bold-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Curabitur et congue orci. Nullam tempor, lectus vitae facilisis consectetur, enim dolor sodales nunc, ut venenatis ipsum massa non eros. Integer tristique consequat sagittis. Sed vitae sapien lobortis, viverra turpis non, hendrerit erat. Vivamus
            luctus, nisl et dignissim pretium, quam risus sollicitudin augue, ut mollis erat neque a lectus. Donec et ex vitae orci pretium volutpat eget sed est. Nunc ornare mauris nunc, id ullamcorper libero finibus id. Fusce imperdiet laoreet suscipit.
            Nunc sagittis arcu non sem euismod auctor. Sed tellus odio, posuere id molestie quis, egestas sit amet turpis. Duis velit diam, dictum a semper eu, ultricies id neque. Integer nec eros placerat lacus bibendum viverra in eu urna.</p>
        <p class="text-bold-500">Suspendisse auctor nisl interdum arcu blandit, sed aliquam leo volutpat.</p>
        <p>Donec laoreet in nibh vel maximus. Donec posuere aliquam lacus a congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean semper fringilla arcu, non auctor ante. Ut efficitur euismod scelerisque. Cras accumsan orci rhoncus
            elementum auctor. Phasellus maximus volutpat nunc ut tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet tincidunt neque, et volutpat est dictum non. Nulla hendrerit leo sit amet nisl blandit, quis pharetra
            lacus ultrices. Etiam pretium ipsum eu dui consectetur maximus. Vivamus pretium luctus lorem, eu viverra velit malesuada at. Nam risus orci, gravida ut convallis et, cursus id velit.</p>
        <p class="text-bold-500"> Phasellus maximus volutpat nunc ut tincidunt.</p>
        <p>Donec laoreet in nibh vel maximus. Donec posuere aliquam lacus a congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean semper fringilla arcu, non auctor ante. Ut efficitur euismod scelerisque. Cras accumsan orci rhoncus
            elementum auctor. Phasellus maximus volutpat nunc ut tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet tincidunt neque, et volutpat est dictum non. Nulla hendrerit leo sit amet nisl blandit, quis pharetra
            lacus ultrices. Etiam pretium ipsum eu dui consectetur maximus. Vivamus pretium luctus lorem, eu viverra velit malesuada at. Nam risus orci, gravida ut convallis et, cursus id velit.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Close</button>
    </div>
</ng-template>



<ng-template #content1 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="kbModal-body">
        <div class="card-body">
            <div class="card-block">

                <div class="table-responsive">
                    <table class="table table-hover table-xl mb-0" id="recent-orders">
                        <thead>
                            <tr>
                                <th class="border-top-0">Date</th>
                                <th class="border-top-0">Events</th>
                                <th class="border-top-0">Author</th>
                                <!-- <th class="border-top-0">Popularity</th>
              <th class="border-top-0">Amount</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-truncate">17/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-1.jpg" alt="Avatar">
                                        </li>
                                        XYZ
                                    </ul>
                                </td>

                                <td class="text-truncate">Author</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">16/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">

                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-6.jpg" alt="Avatar">
                                        </li>
                                        PQR
                                    </ul>
                                </td>

                                <td class="text-truncate">Author1</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">18/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">

                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-5.jpg" alt="Avatar">
                                        </li>EFG
                                    </ul>
                                </td>

                                <td class="text-truncate">Author2</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">18/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-6.jpg" alt="Avatar">
                                        </li>
                                        PQR
                                    </ul>
                                </td>

                                <td class="text-truncate">Author3</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">18/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">

                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-5.jpg" alt="Avatar">
                                        </li>EFG
                                    </ul>
                                </td>

                                <td class="text-truncate">Author2</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">18/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">

                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-5.jpg" alt="Avatar">
                                        </li>EFG
                                    </ul>
                                </td>

                                <td class="text-truncate">Author2</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">18/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">

                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-5.jpg" alt="Avatar">
                                        </li>EFG
                                    </ul>
                                </td>

                                <td class="text-truncate">Author2</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">18/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">

                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-5.jpg" alt="Avatar">
                                        </li>EFG
                                    </ul>
                                </td>

                                <td class="text-truncate">Author2</td>
                            </tr>
                            <tr>
                                <td class="text-truncate">28/02/2022</td>
                                <td class="text-truncate">
                                    <ul class="list-unstyled users-list m-0">
                                        <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                            <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="assets/img/portfolio/portfolio-2.jpg" alt="Avatar">
                                        </li>
                                        ABC
                                    </ul>
                                </td>

                                <td class="text-truncate">Author7</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Close</button>
    </div>
</ng-template>




<ng-template #content2 let-c="close" let-d="dismiss">
    <div class="modal-header bg-info">
        <h4 class="modal-title white">{{title}}</h4>
        <button type="button" class="close white" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="kbModal-body">
        <div class="card-body">
            <div class="card-block">

                <div class="table-responsive">
                    <table id="recent-orders" class="table table-hover table-xl mb-0">
                        <thead>
                            <tr>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">City/Region</th>
                                <th class="border-top-0">Loyalty Points</th>
                                <th class="border-top-0">Last Activity</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height: 57px !important;">

                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-4.jpg"
                                            alt="avatar">
                                    </span>
                                    <span>Elizabeth W.</span>
                                </td>
                                <td>Europe</td>
                                <td>
                                    9
                                </td>
                                <td>
                                    26/02/2022
                                </td>

                            </tr>
                            <tr style="height: 59px !important;">

                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-5.jpg"
                                            alt="avatar">
                                    </span>
                                    <span>Doris R.</span>
                                </td>
                                <td>Europe</td>

                                <td>
                                    8
                                </td>
                                <td>
                                    26/02/2022
                                </td>

                            </tr>
                            <tr style="height: 56px !important;">

                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-6.jpg"
                                            alt="avatar">
                                    </span>
                                    <span>Megan S.</span>
                                </td>
                                <td>Asia</td>

                                <td>
                                    7.5
                                </td>
                                <td>
                                    25/02/2022
                                </td>

                            </tr>
                            <tr style="height: 59px !important;">

                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-9.jpg"
                                            alt="avatar">
                                    </span>
                                    <span>Walter R.</span>
                                </td>
                                <td>Asia</td>

                                <td>
                                    6
                                </td>
                                <td>
                                    05/02/2022
                                </td>

                            </tr>
                            <tr style="height: 58px !important;">

                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-7.jpg"
                                            alt="avatar">
                                    </span>
                                    <span>Andrew D.</span>
                                </td>
                                <td>Europe</td>
                                <td>
                                    7.1
                                </td>
                                <td>
                                    11/01/2022
                                </td>

                            </tr>
                            <tr style="height: 59px !important;">

                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-9.jpg"
                                            alt="avatar">
                                    </span>
                                    <span>Walter R.</span>
                                </td>
                                <td>Asia</td>

                                <td>
                                    6
                                </td>
                                <td>
                                    05/02/2022
                                </td>

                            </tr>

                            <tr style="height: 59px !important;">

                                <td class="text-truncate">
                                    <span class="avatar avatar-xs" style="cursor: pointer;">
                                        <img class="box-shadow-2" src="assets/img/portrait/small/avatar-s-5.jpg"
                                            alt="avatar">
                                    </span>
                                    <span>Doris R.</span>
                                </td>
                                <td>Europe</td>

                                <td>
                                    8
                                </td>
                                <td>
                                    26/02/2022
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info btn-raised" (click)="c('Close click')">Close</button>
    </div>
</ng-template>